.fatfooter {
    @extend %clearfix;
    overflow: hidden;
    padding-bottom: 1em;
    margin: 0 auto;
    background-color: $fatfooterBgColor;
    background-image: url('../images/fatfooter_bg.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    padding: 0;
    @include screen('mobile') {
        display: none;
    }
    .container {
        overflow: hidden;
        box-sizing: border-box;
        @include gutter;
    }
    // 按鈕
    .btn-fatfooter {
        font-size: .813em;
        display: block;
        min-width: 4em;
        color: #FFF;
        border: none;
        background: rgb(202, 76, 4);
        background: linear-gradient(160deg, rgba(202, 76, 4, 1) 19%, rgba(189, 78, 15, 1) 77%);
        position: absolute;
        top: -4px;
        right: 1%;
        z-index: 90;
        text-indent: -9999px;
        border-radius: 0;
        &:before {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            border: 2px solid #FFF;
            border-left: none;
            border-bottom: none;
            transform: rotate(-45deg);
            left: 50%;
            top: 12px;
            margin-left: -6px;
            transition: .3s ease-out;
        }
        &:hover,
        &:focus {
            background: #000;
            color: #fff;
            text-decoration: none;
            cursor: pointer;
            border: none;
            box-shadow: none;
            outline: none;
            border: none;
            cursor: pointer;
        }
        &.close {
            &:before {
                transform: rotate(135deg) !important;
                top: 5px;
            }
        }
    }
    nav {
        overflow: hidden;
        display: block;
        position: relative;
        padding: 5em 0;
        box-sizing: border-box;
        ul {
            display: flex;
            @include screen('tablet') {
                flex-wrap: wrap;
            }
            @include li-reset;
            li {
                flex: none;
                flex-basis: 23%;
                margin: 0 1%;
                box-sizing: border-box;
                font-size: 1.125em;
                @include screen('tablet') {
                    flex-basis: 23%;
                    margin: 0 1%;
                }
                a {
                    line-height: 1.5;
                    display: block;
                    font-weight: bold;
                    padding: .5em 0px;
                    letter-spacing: 0.05em;
                    box-sizing: border-box;
                    color: #fff;
                    &:hover {
                        box-shadow: none;
                        color: $lightColor;
                    }
                    &:focus {
                        color: $lightColor;
                    }
                }
                ul {
                    // display: flex;
                    // flex-direction:column;
                    // flex-wrap:wrap;
                    display: block;
                    margin: 0;
                    padding: 5px 1em 0 0;
                    border-top: 2px solid #fff;
                    @include screen('mobile') {
                        width: auto;
                    }
                    li {
                        // flex: 0 0 100%;
                        font-size: 0.875em;
                        a {
                            display: block;
                            color: #fff;
                            font-weight: normal;
                            text-align: left;
                            font-size: .938em;
                            line-height: 1.5em;
                            padding: .5em 0;
                            background: none;
                            border-bottom: none;
                            letter-spacing: 0;
                        }
                    }
                    //第三層關閉
                    ul {
                        display: none;
                    }
                }
            }
        }
    }
}