.tabSet {
    max-width: 100%;
    margin: 1em auto;
    overflow: hidden;
    @extend %clearfix;
    @include screen('mobile') {
        width: auto;
        height: auto !important;
    }
}
.tabs {
    position: relative;
    &>.tabItem {
        &.active {
            background-color: $primaryColor;
            color: #FFF;
            background-position: center bottom;
            background-repeat: no-repeat;
        }
        float: left;
        margin: 0;
        padding: 0;
        font-size:1em;
        line-height: 1;
        display: block;
        padding: 16px 0 14px;
        text-align: center;
        background-color: #aaa;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        transition: none;
        border-radius:0;
        @include text-overflow;
        box-sizing: border-box;
        border:none;
        &:hover, &:focus {
            background: $primaryColor;
        }
        @include screen('mobile') {
            float: none;
            width: 100% !important;
            border-bottom: 1px solid #888;
            &.active {
                border-color: #bbb;
            }
        }
    }
    &.newstab {
        &>.tabItem {
            background-color: transparent;
            color: $color-word;
            padding: 16px 0 30px;
            font-size: 1.313em;
            letter-spacing: 0.05em;
            @include screen('mobile') {
                padding: 16px 0;
            }
            &.active {
                color: $primaryColor;
                background-image: url('../images/newstab_activebg.png');
                background-position: center bottom;
                background-repeat: no-repeat;
                @include screen('mobile') {
                    background-image: none;
                    padding: 16px 0;
                    background-color: $primaryColor;
                    color: #fff;
                }
            }
            &:hover, &:focus {
                background-color: transparent;
                @include screen('mobile') {
                    background-color: $primaryColor;
                }
            }
            &:focus {
                box-shadow: 0px 0px 0px 2px #fed969 inset;
            }
        }
    }
    &.frequentlyQA_tab {
        &>.tabItem {
            background-color: transparent;
            color: $color-word;
            padding: 20px 0px 16px;
            font-size: 1.313em;
            letter-spacing: 0.05em;
            &.active {
                background-color: #3597c1;
                border-radius: 5px 5px 0 0;
                color: #fff;
            }
        }
    }
    &.cptab {
        &>.tabItem {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
            color: $color-word;
            padding: 0;
            font-size: 1.125em;
            height: 68px;
            letter-spacing: 0.05em;
            margin-bottom: 8px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            line-height: 1.75em;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            @include screen('mobile') {
                padding: 16px 0;
                border-bottom: none;
                height: auto;
            }
            &.active {
                color: #FFF;
                background: $primaryColor;
                @include screen('mobile') {
                    padding: 16px 0px;
                }
            }
            &:hover, &:focus {
                color: #FFF;
                background: $primaryColor;
                @include screen('mobile') {
                    background-color: $primaryColor;
                }
            }
        }
    }
    &.themetab {
        &>.tabItem {
            background-color: lighten($secondaryColor, 30);
            border-radius: 5px;
            box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
            color: $color-word;
            padding: 0;
            font-size: 1.125em;
            height: 68px;
            letter-spacing: 0.05em;
            margin-bottom: 8px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            line-height: 1.75em;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            @include screen('mobile') {
                padding: 16px 0;
                border-bottom: none;
                height: auto;
            }
            &.active {
                color: #FFF;
                background: $primaryColor;
                @include screen('mobile') {
                    padding: 16px 0px;
                }
            }
            &:hover, &:focus {
                color: #FFF;
                background: $primaryColor;
                @include screen('mobile') {
                    background-color: $primaryColor;
                }
            }
        }
    }
    &.plantab {
        &>.tabItem {
            background-color: lighten($secondaryColor, 30);
            border-radius: 5px;
            box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
            color: $color-word;
            padding: 0;
            font-size: 1.125em;
            height: 68px;
            letter-spacing: 0.05em;
            margin-bottom: 8px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            line-height: 1.75em;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            @include screen('mobile') {
                padding: 16px 0;
                border-bottom: none;
                height: auto;
            }
            &.active {
                color: #FFF;
                background: $primaryColor;
                @include screen('mobile') {
                    padding: 16px 0px;
                }
            }
            &:hover, &:focus {
                color: #FFF;
                background: $primaryColor;
                @include screen('mobile') {
                    background-color: $primaryColor;
                }
            }
        }
    }
}
//多組 可設定差異
.example-2 {
    .tabItem:hover {
        background: $secondaryColor;
    }
    .tabItem.active {
        background: $secondaryColor;
    }
}
// 顯示content
.active+.tabContent {
    display: block;
}
.tabContent {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    clear: both;
    padding: 30px 20px;
    display: none;
    @include screen('mobile') {
        position: static;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        margin: 0 0 1.3em 0;
        padding: 0 0 5px;
        line-height: 1.7em;
        border-bottom: 1px #CCC dashed;
        @include screen('mobile') {
            @include text-overflow();
        }
        a {
            @include aSetting_nocolor;
        }
        time {
            display: inline-block;
            margin: 0 0 0 1em;
            color: #666;
        }
    }
}
.newstab {
    .tabContent {
        ul {
            margin: 0 0 30px;
            list-style: none;
            li {
                padding: 5px 0;
                margin: 0 0 1em 0;
                position: relative;
                border-bottom: 1px solid #fff;
                a {
                    @include text-overflow();
                    display: block;
                    padding: 0 150px 0 0;
                    color: #000;
                    &:hover {
                        color: $aHover;
                    }
                }
                time {
                    position: absolute;
                    width: 100px;
                    right: 0;
                    top: 5px;
                    text-align: center;
                }
            }
        }
    }
}
.frequentlyQA_tab {
    .tabContent {
        background-color: rgb(53, 151, 193);
        background: linear-gradient(135deg, rgba(53, 151, 193, 1) 27%, rgba(0, 78, 162, 1) 100%);
        z-index: 1;
        // @include screen('tablet'){
        //     position: static;
        // }
        &:before {
            content: '';
            background-image: url('../images/QA_tabContent_bg.png');
            background-repeat: no-repeat;
            background-position: center bottom;
            background-size: 100%;
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            @include screen('mobile') {
                display: none;
            }
        }
    }
}
.cptab {
    .tabContent {
        border-radius: 5px;
        background-color: #eee;
        margin: 0 8px;
        padding: 30px 30px;
        ul {
            margin: 0 0 30px 40px;
            list-style: initial;
            &.publish_info_down {
                list-style: none;
                padding: 5px;
                li {
                    line-height: 1.2em;
                }
            }
            li {
                padding: 5px 0;
                margin: 0;
                position: relative;
                border-bottom: none;
                a {
                    @include text-overflow();
                    display: block;
                    padding: 0 150px 0 0;
                    color: #000;
                    &:hover {
                        color: $aHover;
                    }
                }
                time {
                    position: absolute;
                    width: 100px;
                    right: 0;
                    top: 5px;
                    text-align: center;
                }
            }
        }
    }
}
.themetab {
    .tabContent {
        border-radius: 5px;
        background-color: #eee;
        margin: 0 8px;
        padding: 20px 30px 30px;
        p {
            line-height: 1.7em;
            margin: 0 0 20px;
        }
        ul {
            margin: 0 0 30px 40px;
            list-style: initial;
            li {
                padding: 5px 0;
                margin: 0;
                position: relative;
                border-bottom: none;
                a {
                    color: $primaryColor;
                    padding: 0;
                    text-decoration: underline;
                    &:hover {
                        color: $aHover;
                        text-decoration: none
                    }
                }
            }
        }
    }
}
.plantab {
    .tabContent {
        border-radius: 5px;
        background-color: #eee;
        margin: 0;
        padding: 40px 30px;
        p {
            line-height: 1.7em;
            margin: 0 0 20px;
        }
        h3 {
            color: #333;
            position: relative;
            padding: 12px 0px 10px 0px;
            margin: 0.2em 0px 1em;
            &:before {
                display: none;
            }
        }
        ul {
            margin-left: 30px;
            li {
                border-bottom: none;
                ol {
                    margin: 1em 0 0;
                    li {
                        margin-bottom: 1em;
                        &:last-child {
                            margin: 0;
                        }
                    }
                }
            }
        }
        .file_download {
            ul {
                margin-left: 0;
                li {
                    margin: 0;
                    border-bottom: solid 1px #ccc;
                }
            }
        }
        .web_link {
            ol,
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                li {
                    position: relative;
                    padding: .5em 0;
                    padding-left: 1.5em;
                    margin: 0;
                    border-bottom: solid 1px #ccc;
                    a {
                        padding: .2em 0px;
                        display: block;
                        @include aSetting_nocolor;
                    }
                }
            }
        }
        .publish_info_down {
            padding: 0.6em 0.5em 0.3em;
            li {
                margin-bottom: 5px;
                border: none;
            }
        }
        // 收合
        .precaution_listgroup {
            .precaution_list {
                .title {
                    a {
                        padding: 20px 30px 15px 40px;
                        background: rgb(34, 119, 199);
                        background: linear-gradient(180deg, rgba(34, 119, 199, 1) 0%, rgba(29, 99, 166, 1) 100%);
                        color: #fff;
                        font-size: 1.125em;
                        border-radius: 5px;
                        margin-bottom: 15px;
                        position: relative;
                        display: block;
                        &:before {
                            content: '';
                            border: 2px solid #fff;
                            width: 8px;
                            height: 8px;
                            border-bottom: none;
                            border-left: none;
                            position: absolute;
                            left: 15px;
                            top: 26px;
                            transform: rotate(45deg);
                        }
                    }
                }
                .precaution_content {
                    display: none;
                    .pic {
                        img {
                            max-width: 650px;
                        }
                    }
                }
            }
        }
    }
}