/////////////////////////////////////////////////////////以下為demo範例///
// 首頁區塊設定
// more按鈕
a.more {
    display: block;
    width: 10em;
    text-align: center;
    height: 2.5em;
    margin: .5em auto .5em;
    line-height: 2.5;
    color: $primaryColor;
    border: 1px solid $primaryColor;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    &:after {
        content: "";
        width: 12px;
        height: 12px;
        border: 2px solid #FFF;
        transform: rotate(45deg);
        position: absolute;
        right: -10px;
        top: 14px;
        border-left: none;
        border-bottom: none;
        transition: .3s ease-out;
    }
    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $primaryColor;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    &:hover,
    &:focus,
    &.active {
        color: white;
        &:before {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        &:after {
            right: 15px;
        }
    }
}
.more {
    text-align: center;
    a {
        display: inline-block;
        color: #fff;
        padding: 8px 30px;
        border-radius: 5px;
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        background: #666;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        transition: .3s;
        min-width: 150px;
        letter-spacing: 0.03em;
        border: 1px solid #666;
        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: $secondaryColor;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transform-origin: 50%;
            transform-origin: 50%;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
            border-radius: 5px;
        }
        &:hover, &:focus {
            color: white;
            border: 1px solid $secondaryColor;
            &:before {
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
            }
        }
    }
}
// 範例：
.demosection {
    [class^="col"] {
        border: 2px solid #FFF;
        background: #DEDEDE;
    }
}
// 首頁輪播
.mpSlider {
    width: 100%;
    padding-bottom: 0em;
    @include gutter(0);
    margin-bottom: 20px;
    .img-container {
        @include aspect-ratio(8, 2);
    }
}
// 廣告輪播
.adSlider {
    @include gutter(70px);
    margin-bottom: 20px;
    @include screen('mobile') {
        @include gutter();
    }
    .slick-prev {
        background: url(../vendor/slick/icon_arrow_left_inverse.png) no-repeat center center;
        background-size: 80%;
        left: -15px;
    }
    .slick-next {
        background: url(../vendor/slick/icon_arrow_right_inverse.png) no-repeat center center;
        background-size: 80%;
        right: -15px;
    }
    .img-container {
        width: 165px;
        height: 55px;
        margin: 0px 15px;
        a {
            display: block;
            text-align: center;
            img {
                margin: 0 auto;
            }
        }
        &:focus {
            &:before {
                content: "";
                position: absolute;
                z-index: 9;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                box-shadow: 0 0px 0px 3px $primaryColor inset;
            }
        }
    }
}
// banner輪播
.mpbanner_slider {
    .container {
        padding: 0;
    }
}
//bannerlink_block
.bannerlink_block {
    .bannerlink_list {
        display: flex;
        @include screen('tablet') {
            flex-wrap: wrap;
        }
        .bannerlink {
            flex: none;
            flex-basis: 23%;
            max-width: 23%;
            margin: 0 1%;
            @include screen('tablet') {
                flex-basis: 48%;
                max-width: 48%;
                margin: 0 1% 15px;
            }
            // @media(max-width: 400px){
            //     flex-basis: 100%;
            //     max-width: 100%;
            //     margin: 0 0 10px;
            // }
            a {
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                background: rgb(51, 124, 128);
                background: linear-gradient(138deg, rgba(51, 124, 128, 1) 0%, rgba(34, 110, 115, 1) 100%, rgba(103, 172, 176, 1) 158%);
                border-radius: 10px;
                padding: 15px 60px 15px 20px;
                min-height: 100px;
                box-sizing: border-box;
                position: relative;
                overflow: hidden;
                height: 100%;
                font-family: Georgia;
                font-size: 1.375em;
                @media(max-width: 380px) {
                    padding: 50px 10px 15px 10px;
                    font-size: 1.25em;
                }
                span {
                    color: #fff;
                }
                .img {
                    position: absolute;
                    right: 0;
                    top: -3px;
                    text-align: right;
                    img {
                        width: auto;
                        height: auto;
                        @media(max-width: 480px) {
                            width: 80%;
                        }
                    }
                }
                &:hover {
                    background: rgb(200, 65, 21);
                    background: linear-gradient(158deg, rgba(200, 65, 21, 1) 0%, rgba(171, 59, 24, 1) 43%, rgba(191, 75, 38, 1) 100%);
                }
            }
        }
    }
}
// LaborNews
.Labornews_block {
    background-image: url('../images/labornews_bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0 0 30px;
    .Labornews_group {
        display: flex;
        margin-bottom: 30px;
        @media(max-width: 800px) {
            display: block;
        }
        .itemblock {
            flex: none;
            flex-basis: 48%;
            margin: 0 1%;
            display: flex;
            flex-wrap: wrap;
            &.first_item {
                .item {
                    background-image: url('../images/labornews_itembg.jpg');
                    .img {
                        width: 100%;
                        margin-right: 0;
                        float: none;
                        clear: both;
                    }
                }
            }
        }
        .item {
            flex: auto;
            padding: 20px;
            background-image: url('../images/labornews_itembg02.jpg');
            background-position: center bottom;
            background-repeat: no-repeat;
            background-size: 100%;
            border-radius: 10px;
            // display: flex;
            flex-wrap: wrap;
            margin-bottom: 15px;
            border: 1px solid #efefef;
            background-color: #fafafa;
            &:nth-of-type(2) {
                background-image: url('../images/labornews_itembg03.jpg');
            }
            .img {
                // flex: none;
                // flex-basis: 48%;
                width: 48%;
                margin-right: 20px;
                float: left;
                img {
                    width: 100%;
                    border-radius: 10px;
                }
            }
            .content {
                // flex: auto;
                // flex-basis: calc(100% - 48% - 20px);
                position: relative;
                p {
                    margin: 0 0 20px;
                    padding: 0;
                    font-size: 1.25em;
                    // font-family: Georgia;
                    line-height: 1.5em;
                    // font-weight: bold;
                    color: #444;
                }
                .more {
                    text-align: right;
                    clear: both;
                    a {
                        padding: 0px 10px;
                        background: #fff;
                        border: 1px solid #fff;
                        color: #333;
                        min-width: initial;
                        font-size: 0.875em;
                        &:hover, &:focus {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}
// Highlights of
.highlightsof_block {
    .container {
        padding-top: 20px;
        padding-bottom: 70px;
        background-image: url('../images/highlightsof_bg.jpg');
        background-repeat: no-repeat;
        background-position: right bottom;
    }
    h2 {
        color: #fff;
    }
    .highlightsof_list {
        margin-bottom: 50px;
        padding: 0;
        box-sizing: border-box;
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            li {
                margin-bottom: 15px;
                a {
                    padding: 15px;
                    background-color: #fff;
                    color: #333;
                    border-radius: 10px;
                    display: flex;
                    @include screen('xs_mobile') {
                        display: block;
                    }
                    &:hover {
                        color: #c74c05;
                    }
                    span {
                        color: #c74c05;
                        display: inline-block;
                        font-size: 1.375em;
                        font-family: Georgia;
                        flex: none;
                        flex-basis: 150px;
                        max-width: 150px;
                        margin-right: 20px;
                        padding: 0 15px;
                        position: relative;
                        box-sizing: border-box;
                        display: flex;
                        align-items: center;
                        @include screen('xs_mobile') {
                            margin-bottom: 15px;
                            padding: 0;
                            &:after {
                                display: none;
                            }
                        }
                        &:after {
                            content: '';
                            width: 1px;
                            height: 45px;
                            background-color: #c74c05;
                            position: absolute;
                            right: 0;
                            top: 0px;
                        }
                    }
                    p {
                        padding: 0;
                        margin: 0;
                        flex: auto;
                        @include text-line(2, 23px);
                    }
                }
            }
        }
    }
}
// Relaten links
.relatenlinks_block {
    background-image: url('../images/relatenlinks_bg.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    .relatenlinks_group {
        display: flex;
        align-items: center;
        padding: 50px 0;
        justify-content: center;
        align-items: stretch;
        @media(max-width: 800px) {
            display: block;
        }
        h2 {
            flex: none;
            flex-basis: 45%;
            max-width: 45%;
            font-weight: normal;
            text-shadow: 0 0 3px #999;
            display: flex;
            align-items: center;
            justify-content: center;
            span {
                color: #c74c05;
                margin-right: 15px;
            }
            @media(max-width: 800px) {
                max-width: 100%;
            }
        }
        .relatenlinks_list {
            flex: auto;
            margin: 0 100px 0 70px;
            @include screen('tablet') {
                margin: 0 0 0 30px;
            }
            @media(max-width: 450px) {
                margin: 0;
            }
            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
                li {
                    margin-bottom: 20px;
                    a {
                        display: flex;
                        align-items: center;
                        padding: 25px 20px 25px 80px;
                        background-color: #fff;
                        border-radius: 10px;
                        box-shadow: 0 0 20px 5px #dde8f5 inset;
                        position: relative;
                        // font-family: Georgia;
                        font-size: 1.25em;
                        color: #333;
                        height: 78px;
                        @media(max-width: 450px) {
                            display: block;
                            height: auto;
                            padding: 20px;
                            text-align: center;
                        }
                        span {
                            width: 78px;
                            height: 78px;
                            position: absolute;
                            left: -25px;
                            img {
                                width: 78px;
                                height: 78px;
                                max-width: initial;
                            }
                            @media(max-width: 450px) {
                                position: relative;
                                left: auto;
                                display: block;
                                text-align: center;
                                width: 100%;
                                margin: 0 0 20px;
                                img {
                                    margin: 0 auto;
                                }
                            }
                        }
                        &:hover {
                            color: $primaryColor;
                        }
                        &:focus {
                            box-shadow: 0 0px 0px 2px #fec003;
                        }
                    }
                }
            }
        }
    }
}
// 主題網站
.theme_block {
    padding: 0 0 50px;
    .theme_slider {
        margin-bottom: 50px;
        padding: 0;
        @include screen('mobile') {
            padding: 0 30px;
        }
        .theme_group {
            padding: 0 10px;
            text-align: center;
            a {
                display: block;
                padding: 14px 30px 14px 20px;
                background: rgb(53, 117, 174);
                background: linear-gradient(160deg, rgba(53, 117, 174, 1) 19%, rgba(28, 81, 157, 1) 77%);
                color: #fff;
                box-sizing: border-box;
                @include text-overflow;
                border-radius: 5px;
                font-size: 1.125em;
                font-weight: bold;
                position: relative;
                text-align: left;
                &:after {
                    content: '';
                    border: 2px solid #fff;
                    width: 8px;
                    height: 8px;
                    position: absolute;
                    right: 15px;
                    top: 20px;
                    transform: rotate(45deg);
                    border-bottom: none;
                    border-left: none;
                    transition: 0.5s;
                }
                &:hover, &:focus {
                    background: rgb(28, 81, 157);
                    background: linear-gradient(160deg, rgba(28, 81, 157, 1) 19%, rgba(28, 81, 157, 1) 77%);
                    &:after {
                        right: 25px;
                    }
                }
            }
        }
        // 箭頭
        .slick-prev {
            left: -55px;
            top: 0px;
            &:hover, &:focus {
                left: -45px;
            }
            @include screen('mobile') {
                left: -15px;
            }
        }
        .slick-next {
            right: -55px;
            top: 0;
            &:hover, &:focus {
                right: -45px;
            }
            @include screen('mobile') {
                right: -15px;
            }
        }
    }
}
// 外部連結
.external_block {
    padding: 0 0 50px;
    .external_slider {
        margin-bottom: 50px;
        padding: 0;
        @include screen('mobile') {
            padding: 0 30px;
        }
        .external_group {
            padding: 0 10px;
            text-align: center;
            a {
                display: block;
                padding: 14px 40px 14px 20px;
                background: rgb(202, 76, 4);
                background: linear-gradient(160deg, rgba(202, 76, 4, 1) 20%, rgba(166, 62, 4, 1) 78%);
                color: #fff;
                box-sizing: border-box;
                @include text-overflow;
                border-radius: 5px;
                font-size: 1.125em;
                font-weight: bold;
                position: relative;
                text-align: left;
                transition: 0.5s;
                &:after {
                    content: '';
                    border: 2px solid #fff;
                    width: 8px;
                    height: 8px;
                    position: absolute;
                    right: 15px;
                    top: 20px;
                    transform: rotate(45deg);
                    border-bottom: none;
                    border-left: none;
                    transition: 0.5s;
                }
                &:hover, &:focus {
                    background: rgb(202, 76, 4);
                    background: linear-gradient(160deg, rgba(202, 76, 4, 1) 20%, rgba(202, 76, 4, 1) 78%);
                    &:after {
                        right: 25px;
                    }
                }
            }
        }
        // 箭頭
        .slick-prev {
            left: -55px;
            top: 0px;
            &:hover, &:focus {
                left: -45px;
            }
            @include screen('mobile') {
                left: -15px;
            }
        }
        .slick-next {
            right: -55px;
            top: 0;
            &:hover, &:focus {
                right: -45px;
            }
            @include screen('mobile') {
                right: -15px;
            }
        }
    }
}